<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <li><a href = "patient">Patients</a></li>
    <li><a href = "personal">Personal</a></li>
    <li><a href = "reqlist">Request List</a></li>
    <li><a href = "newpatient">Add Patient to Record</a></li>
  </body>
</html>
