<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<li><a href = "patient">Patients</a></li>
<li><a href = "newpatient">Add Patient to Record</a></li>
<li><a href = "1">1</a></li>
<li><a href = "2a">2a</a></li>
<li><a href = "2b">2b</a></li>
<li><a href = "2c">2c</a></li>
<li><a href = "2d">2d</a></li>
<li><a href = "2e">2e</a></li>
<li><a href = "3">3</a></li>
<li><a href = "../index">Return to Index</a></li>
</body>
</html>