<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<li><a href = "personal">Personal</a></li>
<li><a href = "reqlist">Request List</a></li>
<li><a href = "../index">Return to Index</a></li>
</body>
</html>