<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal</title>
</head>

<br/>

<h1 align="center">RAINBOW - PERSONAL</h1>

<br/>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg .tg-0vnf{font-size:15px;text-align:center}
 /* .tg .tg-s6z2{text-align:center} */
</style>

<body>


<table class="tg" ; style="float:left;width:48.5%;">

    <colgroup>
        <col style="width: 80px">
        <col style="width: 230px">
        <col style="width: 330px">
        <col style="width: 140px">
    </colgroup>

    <tr>
        <th class="tg-0vnf"><b>Bett-Nr.</b></th>
        <th class="tg-0vnf"><b>Anforderung</b></th>
        <th class="tg-0vnf"><b>Anmerkung</b></th>
        <th class="tg-0vnf"><b>Uhrzeit</b></th>
    </tr>
    <tr>
        <td colspan="3">
           <div id="innerdiv">
              <table id="innertab">
        <td class="tg-031e"></td>
        <td class="tg-031e"></td>
        <td class="tg-031e"></td>
        <td class="tg-031e"></td>
    </tr>
</table>


<table class="tg" ; style="float:right;width:48.5%;">

    <colgroup>
        <col style="width: 80px">
        <col style="width: 230px">
        <col style="width: 330px">
        <col style="width: 110px">
        <col style="width: 30px">
    </colgroup>

    <tr>
        <th class="tg-0vnf"><b>Bett-Nr.</b></th>
        <th class="tg-0vnf"><b>Anforderung</b></th>
        <th class="tg-0vnf"><b>Anmerkung</b></th>
        <th class="tg-0vnf"><b>Bearbeiter</b></th>
        <th class="tg-0vnf"><b>Status</b></th>
    </tr>
    <tr>
        <td class="tg-031e"></td>
        <td class="tg-031e"></td>
        <td class="tg-031e"></td>
        <td class="tg-031e"></td>
        <td class="tg-031e"></td>
    </tr>
</table>


<table class="tg" style="table-layout: fixed; width: 820px">

</table>

</body>

</html>